<!-- <div class="container">
  <h1>Observables in Angular</h1>
   -->
  <!-- generate observables -->
  <!-- <div class="data-list" *ngFor="let x of data">
    {{ x }}
  </div>
  <button (click)="getAsyncData()">Get Data</button> -->

  <!-- <h1>Observables in Angular (From Event Operators)</h1>

  <div class="data-list" id="container">
    
  </div>
  <button #createButton >create new item</button>  -->

<!-- </div> -->
<!-- 
<app-new-task></app-new-task>
<app-show-task></app-show-task> -->

<!-- <app-subject></app-subject> -->

<app-unsubscribe></app-unsubscribe>