<div>
    <h2>Parent Component</h2>

<app-child>
    <h2>Some Heading</h2>
    <p #paragraph>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum velit perspiciatis nostrum? Voluptatibus animi sed, dolores repudiandae officia eveniet enim qui harum ab, hic omnis quos ipsam necessitatibus deleniti illum.m
    </p>
    <p #paragraph>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum velit perspiciatis nostrum? Voluptatibus animi sed, dolores repudiandae officia eveniet enim qui harum ab, hic omnis quos ipsam necessitatibus deleniti illum.m
    </p>
    <p #paragraph>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum velit perspiciatis nostrum? Voluptatibus animi sed, dolores repudiandae officia eveniet enim qui harum ab, hic omnis quos ipsam necessitatibus deleniti illum.m
    </p>
    <app-test [name]="'Merry Jane'"></app-test>
    <app-test [name]="'Subbu Jane' " ></app-test>
    <app-test [name]="'Siri Jhane'" ></app-test>
    <app-test [name]="'Gnani Jhane'" ></app-test>

</app-child>
<button (click)="showData()">Show Data</button>
</div>